.custom-navbar {
    background-color: white; /* Set the background color to white */
}
/* Custom CSS to make the logo smaller */
.navbar-brand img {
    max-width: 100px; 
    max-height: 40px; 
}
.carousel img{
    
    height:800px;
}

#carouselExampleSlidesOnly {
    margin-bottom: 20px;
    
}

.image-text-section {
    margin-top: 20px;
    font-family: RALEWAY;
}
.colored-background {
    background-color: #F98420; 
    padding: 20px;
   
    margin-top: -20px; 
}
.colored-background2{
    background-color:#FFFCEC; 
    padding: 20px;
   
    margin-top: 4px; 
}
.service-img {
    height: 200px; 
}

#nav-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links-container .nav-link {
    text-decoration: none;
    color: #000; 
    font-size: 18px;
    margin: 0 15px; 
    position: relative;
    transition: color 0.3s; 
}

#nav-links-container .nav-link.selected::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000; 
    position: absolute;
    bottom: -3px;
    left: 0;
}

#nav-links-container .nav-link:not(.selected):hover {
    color: #007BFF; 
}


.colored-background h2 {
    color: #fff; 
    font-family: RALEWAY;
    font-size: 40PX;
}
.MIDDLETEXT{
font-size: 50px;

}
.rectangular-button {
    padding: 10px 20px; 
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
}
.background-image-section {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    color: #fff; 
    padding: 50px 0;
    text-align: center;
    padding-top: 120px;
}
.textcolour{
    color: black;
    font-family: raleway;
    padding-top: 20px;
    padding-bottom: 50px;

}
.card-img-top{
    height:378px;
}
.card{
    height:600px;
    border-color: #AD795B;
}
.card-title.card-title-common {
    font-size: 18px; 
    color: #3498db;
    font-family: ralewaybold;

}
.producttitle {
    padding-top: 10px;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
